*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: #0f3877;
}
a {
  text-decoration: none;
}

li {
  display: inline-block;
}

/* inputs - buttons */
button {
  padding: 1em 0.8em;
  border-radius: 5px;
}

input,
select {
  padding: 1.2em 0.5em;
  padding-right: 0;
  display: block;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  transition: border 0.5s;
}

.tp-auth-container {
  padding: 2em 0.5em;
  margin: 10px 0.8em;
  margin-top: 30px;
  background: #fff;
  box-shadow: 10px 10px 10px 10px rgba(87, 85, 85, 0.4);
  border-radius: 10px;
}

label {
  display: block;
  font-size: 0.8em;
  margin: 5px 0;
}

.tp-input-field {
  font-size: 0.9em;
}

.tp-auth-btn {
  background: rgb(11, 194, 93);
  color: #ffffff;
  font-weight: bolder;
  font-size: 1em;
  border: 0;
  margin: 10px 0;
  display: block;
  width: 100%;
}

.tp-forgot-password {
  text-align: center;
  font-size: 0.8em;
  display: block;
  margin: 10px 0;
}

/* navigation */

nav.tp-navigation {
  height: 60px;
  margin: 0 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.tp-navigation a {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
}

a.tp-brand {
  font-size: 1.5em !important;
  font-weight: bold;
}

nav.tp-navigation ul li {
  padding: 0 0.4em;
}

nav.tp-navigation ul li a {
  padding-bottom: 5px;
}

.tp-active-link-class {
  border-bottom: 3px solid rgb(11, 194, 93);
}

.tp-valid-field {
  border: 2px solid green;
}

.tp-invalid-field {
  border: 1px solid rgb(241, 3, 63);
}

button:disabled {
  opacity: 0.5;
}

.tp-auth-title {
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.tp-form-note {
  background: #f1f1f1;
  padding: 8px 0.4em;
  font-size: 0.8em;
}

.tp-field-error {
  color: rgb(241, 37, 37);
  font-size: 0.8em;
}
