*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: #0f3877;
}
a {
  text-decoration: none;
}

li {
  display: inline-block;
}

/* inputs - buttons */
button {
  padding: 1em 0.8em;
  border-radius: 5px;
}

input,
select {
  padding: 1.2em 0.5em;
  padding-right: 0;
  display: block;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  transition: border 0.5s;
}

.tp-auth-container {
  padding: 2em 0.5em;
  margin: 10px 0.8em;
  margin-top: 30px;
  background: #fff;
  box-shadow: 10px 10px 10px 10px rgba(87, 85, 85, 0.4);
  border-radius: 10px;
}

label {
  display: block;
  font-size: 0.8em;
  margin: 5px 0;
}

.tp-input-field {
  font-size: 0.9em;
}

.tp-auth-btn {
  background: rgb(11, 194, 93);
  color: #ffffff;
  font-weight: bolder;
  font-size: 1em;
  border: 0;
  margin: 10px 0;
  display: block;
  width: 100%;
}

.tp-forgot-password {
  text-align: center;
  font-size: 0.8em;
  display: block;
  margin: 10px 0;
}

/* navigation */

nav.tp-navigation {
  height: 60px;
  margin: 0 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.tp-navigation a {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
}

a.tp-brand {
  font-size: 1.5em !important;
  font-weight: bold;
}

nav.tp-navigation ul li {
  padding: 0 0.4em;
}

nav.tp-navigation ul li a {
  padding-bottom: 5px;
}

.tp-active-link-class {
  border-bottom: 3px solid rgb(11, 194, 93);
}

.tp-valid-field {
  border: 2px solid green;
}

.tp-invalid-field {
  border: 2px solid rgb(241, 3, 63);
}

button:disabled {
  opacity: 0.5;
}

.tp-auth-title {
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.tp-form-note {
  background: #feffd1;
  padding: 8px 0.4em;
  font-size: 0.7em;
}

.tp-field-error {
  color: rgb(241, 37, 37);
  font-size: 0.7em;
  margin: 5px 0;
}

/* dashboar */

.tp-main-container {
  min-height: calc(100vh - 60px);
  width: 100%;
  padding: 10px 1em;
}

.tp-user-header {
  height: 60px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8em;
  /* box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.3); */
}

.tp-user-header div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tp-top-up-account {
  padding: 5px 1.5em;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  outline: 0;
  background: rgb(11, 194, 93);
  color: #fff;
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-left: 15px;
}

.tp-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 15px;
}

.tp-card-container {
  margin-top: 20px;
  padding: 0 1em;
}

.tp-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tp-card-top {
  background: #ffffff;
  border: 5px solid salmon;
  border-radius: 5px 5px 0 0;
  height: 200px;
  text-align: center;
  vertical-align: center;
  line-height: 120px;
}

.tp-card-top h1 {
  font-size: 3em;
}
.tp-card-bottom {
  padding: 10px 16px;
  background: #fff;
  border-radius: 0 0 5px 5px;
  color: #222;
}

.tp-midy {
  background: #10a35a;
}

.tp-maxi {
  background: rgb(121, 17, 48);
}

.tp-entrance-fee,
.tp-possible-win {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.tp-enter-context {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tp-enter-context-btn {
  background: #10a35a;
  color: #fff;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding: 0.8em 1em;
}
